# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment Variables
.env
.env.local
.env.production

# Build Outputs
dist/
build/
frontend/dist/
backend/dist/

# IDE / OS
.vscode/
.idea/
*.log
.DS_Store
Thumbs.db

# Database
*.sqlite
*.db
*.sqlite-journal